@charset "UTF-8";


li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

/**************  footer **************/
footer {
	width: 98%;
	min-width: 1500px;
	border-top: 3px solid #000560;
	box-sizing: border-box;
	text-align: center;
	height: 100px;
	line-height: 90px;
	overflow: hidden;
	font-weight: bold;
	margin-top: 50px;
}

#footer1, #footer2, #footer3 {
	width: 33.33%;
	float: left;
	color: black;
	box-sizing: border-box;
}

#footer1 .logo {
	width: 100px;
	height: 70px;
	margin-top: 13px;
}

#footer2 #address {
	margin-top: 20px;
	line-height: 23px;
}
.admin {
text-decoration: underline;	
width : 30px;
background-color : black;
color :white;
border: 1px solid black;
}
