@charset "UTF-8";
body, html {
	
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 1600px !important;
	height: 650px !important;
	margin-top : 90px;
}
h1, h2, h3, h4 {
	
	font-family: 'Raleway', sans-serif;
}
h2 {
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}

/* Header Section */

.intro {
	display: table;
	
	width: 100%;
	padding: 0;
	background: url(../img/logo2.JPG) center center no-repeat;
	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.4);
}
.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}

#main .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
  /* 메뉴 */
#all {
		width:1600px;
		height : 900px;
		margin: 50px auto;
		overflow:hidden;
		box-sizing: border-box;
	}
	
	.features-item {
		width:500px;
		text-align: center;
		float:left;
		box-sizing: border-box;
	}
	.features-item2 {
	    width:500px;
		text-align: center;
		float:left;
		box-sizing: border-box;
	}
	
	.img-responsive {
		width:450px;
	}
	
	.section-title {
		width:200px;
		overflow:hidden;
		margin:30px auto;
	}
	/* .go {
	 float: right;
	}
	.go1 {
	 float: left;
	 margin-left :100px;
	} */
	 #features p {
        line-height: 20px;
       
         margin: 10px 0 25px;
        
    }
    h3 {

     font-family: 'Gugi', cursive;
    }

/* #features { */
/* 	padding: 120px 0; */
/* } */
/* #features .features-item { */
/* 	margin: 0 20px; */
/* } */
/* #features img { */
/* 	width : 150px; */
/* 	margin: 30px auto 20px; */
/* } */
/*     #features .about-img:before { */
/*         display: block; */
/*         content: ''; */
/*         position: absolute; */
/*         top: 8px; */
/*         right: 8px; */
/*         bottom: 8px; */
/*         left: 8px; */
/*         border: 1px solid rgba(255, 255, 255, 0.5); */
/*     } */
/*     #features p { */
/*         line-height: 24px; */
/*         margin: 15px 0 30px; */
/*     } */